<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Dashboard</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="assets/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="assets/css/buttons.css"  media="screen,projection"/>
    <link rel="stylesheet" href="assets/css/buttons.css">
    <link type="text/css" rel="stylesheet" href="assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Acme|Kalam" rel="stylesheet">
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
</head>
<body>
<!--Header-->    
    <nav class="head-foot" role="navigation">
        <div class="nav-wrapper container">
                <a id="logo-container" href="#" class="brand-logo center">
                    <img src="assets/images/logo-full.png" style="height:50px; width:50px;">
                </a>
        <!-- Sidebar Menu -->
<ul id="slide-out" class="side-nav">
    <li><div class="userView">
      <a href="#!user"><img class="circle" id="sideNavPic" src="assets/images/logo-full.png"></a>
    </div></li>
    <li><a href="/dashboard" class="waves-effect">Dashboard</a></li>
    <li><div class="divider"></div></li>
    <li><a href="#!" class="waves-effect">My To Do Lists</a></li>
    <li><a href="#!" class="waves-effect">My Events</a></li>
    <li><a href="#!" class="waves-effect">My Calendar</a></li>
    <li><div class="divider"></div></li>
    <li><a href="/logout" class="waves-effect">Log Out</a></li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
        </div>
    </nav>
<!--Main Body-->
<div class="section">
    <div class="container center white">
        <div class="row center"> 
            <div class="col l12" id="addTodo">
                        <form class="col l12" id="addToDo" name="addToDo" method="post" action="/add">
                        <label for="name">Todo Name</label>
                        <input class="text" name="name" type="text" /><br>
                        <label for="details">Details</label>
                        <input class="text" name="details" type="text" /><br>
                        <label for="due_date">Due Date</label>
                        <input name="due_date" type="date" /><br>
                        <label for="list_name">Todo Type</label>
                        <input name="list_name" type="text" /><br>
                        <input type="hidden" value="{{user.id}}" name="UserId">
                        <input class="btn btn-large" type="submit" value="Add Task" />
                        </form>
            </div>
        </div>
    </div>

<div class="section">
    <div class="container">
        <div class="row">            
            <div class="col l12" id="todo1">
                <table class="bordered highlight">
                        {{#each todoList}}
                            <tr>
                                <td>Task Name:{{this.name}}</td>
                                <td>Due Date:{{due_date}}</td>
                                <td>Details:{{this.details}}</td>
                                <td>Todo Type:{{this.list_name}}</td>

                                <td>
                                    <form action="/delete/{{this.id}}?_method=DELETE" method="POST">
                                    <input type="hidden" name="id" value="{{this.id}}">
                                    <button type="submit" class="waves-effect button button-pill button-tiny black white-text todo-button">Delete Task!</button>
                                    </form>
                                </td>
                                <td><button class="waves-effect button button-pill button-tiny black white-text todo-button">Later!</button></td>
                            </tr>
                            {{/each}}
                </table>
            </div>
      </div>
    </div>
  </div>
  <br><br><br><br>
  <div class="section calendar">
      <div class="row">
          <div class="col l12">
<iframe src="https://calendar.google.com/calendar/embed?mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;ctz=America%2FNew_York" style="border-width:0" width=100% height="900" frameborder="0" scrolling="no"></iframe>
          </div>
      </div>
  </div>
   
<!--Footer-->    
<footer class="page-footer head-foot">
    <div class="container head-foot">
 
    </div>
    <div class="footer-copyright">
      <div class="container">
    <p class="center" id="footer-text"> ©Spicy Wanderers </p> 
      </div>
    </div>
  </footer>
                
            
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="assets/js/materialize.min.js"></script>
    <script type="text/javascript">
            $(".button-collapse").sideNav();
    </script>
</body>
</html> 